<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253447236216-4c0rmsot80tuveod32non8r71kcj855u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253447236216-4c0rmsot80tuveod32non8r71kcj855u</string>
	<key>API_KEY</key>
	<string>AIzaSyAOORyMQ9OmxXRTgMwv94B3SDbf_IOKmlw</string>
	<key>GCM_SENDER_ID</key>
	<string>253447236216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSampleApp</string>
	<key>PROJECT_ID</key>
	<string>fluttersampleapp-2a1ae</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttersampleapp-2a1ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253447236216:ios:8ea511c802faf3f34b5b8d</string>
	<key>DATABASE_URL</key>
	<string>https://fluttersampleapp-2a1ae.firebaseio.com</string>
</dict>
</plist>